.form-control:focus {
  border-color: rgba(170, 170, 170, 0.3);
  outline: 0;
  box-shadow: none;
  border-width: 2px;
}

.form-control {
  font-size: 14px;
  border: 1px solid rgba(170, 170, 170, 0.3);
  /* Increased border thickness */
}